.app {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

html, body, #root {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
